.root {
-fx-base: rgb(80, 80, 80);
-fx-background: rgb(80, 80, 80); 
-fx-control-inner-background: rgb(80, 80, 80);
}

.list-cell:even {
    -fx-background-color: #10C4F2;
}

.list-cell:odd {
     -fx-background-color: #6A21DE;
}

.list-cell:filled:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: white;
}

#background {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.button {
	-fx-background-color: orange; 
}

.button:hover {
	-fx-background-color: lightyellow; 
}

/**** Scrollbar ****/
.scroll-bar { 
    -fx-background-color: transparent;
}
.scroll-bar > .track {
    -fx-background-color: purple;
    -fx-background-radius: 5em; /*24px;*/
    -fx-background-insets: 0.23em; /*4px;*/
}
.scroll-bar > .increment-button, .decrement-button {
    -fx-background-color: transparent;
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: light-blue;
}
.scroll-bar > .thumb {
    -fx-background-color: blue;
    -fx-background-radius: 5em; /*24px;*/
    -fx-background-insets: 0.23em; /* 0.333333em;*/ /*4px;*/
}
.scroll-bar > .thumb:hover {
    -fx-background-color: lightblue;
}
.scroll-bar > .thumb:pressed {
    -fx-background-color: lightblue;
}
