.view-grid {
	-fx-padding: 10;
	-fx-grid-lines-visible: false;
	-fx-background-image: url("images/background.gif");
}

.view-grid-cell {
	-fx-stroke: black;
	-fx-stroke-opacity: 1;
	-fx-fill: transparent;
}