#splashpane{
    -fx-background-image: url("images/background.gif");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}
#splashlabel {
	-fx-font-family: sans-serif;
	-fx-alignment: bottom-right;
	-fx-font-size: 50;
	-fx-text-fill: white;
}

#mainpane {
	-fx-background-image: url("images/mainpage.gif");
	-fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#mainlabel {
	-fx-font-family: sans-serif;
	-fx-font-size: 75;
	-fx-text-fill: white;
}