#splashpane{
    -fx-background-image: url("images/background.gif");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#splashlabel {
	-fx-font-family: sans-serif;
	-fx-alignment: bottom-right;
	-fx-font-size: 50;
	-fx-text-fill: white;
}

#mainpane {
	-fx-background-image: url("images/mainpage.gif");
	-fx-background-repeat: stretch;
    -fx-background-position: center center;
}

#mainlabel {
	-fx-font-family: sans-serif;
	-fx-font-size: 75;
	-fx-text-fill: white;
}

.button {
	-fx-background-color: #708090;
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-font-size: 40;
	-fx-effect: dropshadow(gaussian, #2f4f4f, 10, 0.2, 0, 0);
}

.button:hover {
	-fx-background-color: #2f4f4f;
	
}

